<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courses REST/UI</title>
</head>

<body>
    <ul>
        {% for course in courses %}
            <a href="{% url 'update_course' course.Code %}"><li> {{ course.Description }}</a><a href="{% url 'delete_course' course.Code %}"> [ remove course ]</a> </li>           
        {% endfor %}
    </ul>

    <a href="{% url 'add_course' %}">Add Course</a>


</body>
</html>