<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courses REST/UI</title>
</head>

<body>
    <ul>
        {% for student in students %}
            <a href="{% url 'update_student' student.StudentId %}"><li> {{ student.Name }}</a><a href="{% url 'delete_student' student.StudentId %}"> [ remove student ]</a></li>           
        {% endfor %}
    </ul>

    <a href="{% url 'add_student' %}">Add Student</a>


</body>
</html>